{% extends 'base.html.twig' %}

{% block title %}Clase index{% endblock %}

{% block body %}

    <a href="{{ path('app_clase_new') }}" class="btn btn-primary mt-3 mb-3">Nueva clase</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actividad</th>
                <th>Dia</th>
                <th>Hora</th>
                
            </tr>
        </thead>
        <tbody>
        {% for clase in clases %}
            <tr>
                <td>{{ clase.id }}</td>
                <td>{{ clase.actividad.nombre }}</td>
                <td>{{ clase.dia }}</td>
                <td>{{ clase.hora }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
